label {
    border-width: 5px 5px 5px 5px;
    border: black;
    margin: 0.5rem;
    
}

button {
    margin: 1rem;
}

#text {
    text-align: center;
}

#boxit {
    text-align: center;
}